<a href="https://colab.research.google.com/github/accelbia/Data-Science/blob/main/DS_Lecture1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
weather_data = {
'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
'temperature': [32,35,28,24,32,31],
'windspeed': [6,7,2,7,4,2],
'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

In [3]:
df=pd.DataFrame(weather_data)

In [4]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [6]:
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [7]:
df.tail(3)

        day  temperature  windspeed  event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [9]:
df.sample

<bound method NDFrame.sample of         day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny>

In [10]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [12]:
df.sample(3)

        day  temperature  windspeed event
4  1/5/2017           32          4  Rain
3  1/4/2017           24          7  Snow
2  1/3/2017           28          2  Snow

In [13]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [14]:
df.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [15]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [22]:
dg=df.set_index('windspeed', inplace=True)

In [25]:
df

                day  temperature  event
windspeed
6          1/1/2017           32   Rain
7          1/2/2017           35  Sunny
2          1/3/2017           28   Snow
7          1/4/2017           24   Snow
4          1/5/2017           32   Rain
2          1/6/2017           31  Sunny

In [26]:
do=df.set_index('day', inplace=True)

In [20]:
dg.sort_index

<bound method DataFrame.sort_index of                 day  temperature  event
windspeed
6          1/1/2017           32   Rain
7          1/2/2017           35  Sunny
2          1/3/2017           28   Snow
7          1/4/2017           24   Snow
4          1/5/2017           32   Rain
2          1/6/2017           31  Sunny>

In [21]:
dg

                day  temperature  event
windspeed
6          1/1/2017           32   Rain
7          1/2/2017           35  Sunny
2          1/3/2017           28   Snow
7          1/4/2017           24   Snow
4          1/5/2017           32   Rain
2          1/6/2017           31  Sunny

In [28]:
do

In [29]:
df.reset_index(inplace=True)

In [30]:
df

        day  temperature  event
0  1/1/2017           32   Rain
1  1/2/2017           35  Sunny
2  1/3/2017           28   Snow
3  1/4/2017           24   Snow
4  1/5/2017           32   Rain
5  1/6/2017           31  Sunny

In [31]:
df.columns[[0,1]]

Index(['day', 'temperature'], dtype='object')

In [32]:
df.temperature

0    32
1    35
2    28
3    24
4    32
5    31
Name: temperature, dtype: int64

In [33]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [35]:
df[['temperature', 'day']]

   temperature       day
0           32  1/1/2017
1           35  1/2/2017
2           28  1/3/2017
3           24  1/4/2017
4           32  1/5/2017
5           31  1/6/2017

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          6 non-null      object
 1   temperature  6 non-null      int64
 2   event        6 non-null      object
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes

In [37]:
df.describe()

       temperature
count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000

In [41]:
df['event'].value_counts()

Sunny    2
Snow     2
Rain     2
Name: event, dtype: int64

In [43]:
df.drop('event',axis=1, inplace=True)

In [44]:
df

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31